@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Lato;
}

.header-box {
    background: rgba(229, 84, 115, 0.10);
    position: relative;
    width: 100%;
}



.header-flex {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-left: 240px;
    padding-right: 240px;
    align-items: center;
}


.header-title {
    width: 708px;
    color: #272727;
    font-size: 80px;
    font-weight: 800;
}

.header-pharagraph {
    width: 634px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 32px;
    margin-bottom: 32px;
}

.btn-primary {
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    border: none;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}


main{
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 178px 240px 0;
}

.main-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin: auto;
}

.main-paragraph {
    width: 594px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: auto;
    margin-top: 24px;
    margin-bottom: 48px;
}


.main-boxes{
    display: block;
    justify-content: center;
    margin-bottom: 148px;
}

.main-images{
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
}

.main-btext {
    display: flex;
    justify-content: center;
    gap: 307px;
}

.image-bottom-text {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

.main-img-bg {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    background-image: url('../Flower Asset/pngwing 6.png');
    background-repeat: no-repeat;
    background-position: bottom;
}

.main-img-bg1 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    background-image: url('../Flower Asset/pngwing 5.png');
    background-repeat: no-repeat;
    background-position: 50% 70%;
}

.main-img-bg2 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    background-image: url('../Flower Asset/pngwing 7.png');
    background-repeat: no-repeat;
    background-position: bottom;
}

.main-supportbox {
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 86px 0 86px;
}

.main-supportcontent{
    display: block;
    justify-content: center;
}

.main-supportcontent p {
    color: rgba(39, 39, 39, 0.80);
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
    margin-top: 24px;
}

.testimonial {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin-top: 128px;
}

.testimonialbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 108px 423px 108px 423px;
}

.testimonialtext {
    display: block;
    text-align: center;
}

.testimonialtext h2{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.testimonialspan {
    color: #E55473;
}

.testimonialp {
    width: 594px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 24px 32px;
}

.signup-btn {
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    border: none;
}

.socialpost {
    margin: 128px 240px;
    display: block;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.postimages {
    display: flex;
    gap: 24px;
}

.subscribtab {
    background: url('../Flower Asset/Rectangle 9.png');
    margin-top: 128px;
    background-repeat: no-repeat;
}

.subpadding {
    padding: 128px 287px;
}

.subtitle {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.subp {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 16px 0 48px 0;
}

.form {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.form input {
    width: 300px;
    border-radius: 8px;
    background: #FFF;
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
    border: none;
    padding: 16px 22px;
}

.sub-btn {
    border-radius: 6px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 14px 28px;
    border: none;
}

footer {
    display: block;
    background: #111010;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footerpadding {
    padding: 128px 648px;
}

.footertitle {
    color: #E55473;
    font-size: 48px;
    font-weight: 800;
}

.footerspan{
    color: #FFFFFF;
}

.footerp {
    width: 625px;
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 24px;
    margin-bottom: 32px;
}

.footerend{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}